<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dolor Meus</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script
      type="text/javascript" 
      src="{{url_for('static', filename='js/header.js')}}"
    ></script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="app-wrap">
      <div class="header">
        <h1 id="name_reader">
    
        </h1>
        <div class="more" id="more">
          <p>more stuff like this</p>
        </div>
      </div>
        
      {% block content %}
      
      {% endblock %}
      
      <div class="footer">
        <p>
          made by 
          <a 
            href="http://jerud-moyer.dev"
            target="_blank"  
          >
            jerud-moyer.dev
          </a>
        </p>
      </div>
    </div>

    <div class="more-modal" id="more_modal">
      <div class="modal-inner">
        <a 
          href="https://nuraai.net"
          target="_blank"  
        >
          nuraai.net
        </a>
        <a 
          href="https://nerdmeme.fun"
          target="_blank"  
        >
          nerdmeme.fun
        </a>
      </div>
    </div>
  </body>
</html>
