{% extends "base.html" %}

{% block head %}
<script
  type="text/javascript" 
  src="{{url_for('static', filename='js/stream.js')}}"
></script>
<script
  type="text/javascript" 
  src="{{url_for('static', filename='js/select.js')}}"
></script>
{% endblock %}


{% block content %}

<div class="body-content">
  <div class="controls">
    <div class="control-group">
      <label for="number">
        How many paragraphs?
      </label>
      <select
        name="number"
        id="number"
      >
        <option value="" disabled selected></option>
        {% for num in context.nums_options %}
        <option value="{{num.value}}">
          {{num.label}}
        </option>
        {% endfor %}
      </select>
    </div>
    <div class="control-group">
      <label for="subject">
        pick a subject!
      </label>
      <select
        name="subject"
        id="subject"
      >
      <option value=""></option>
      {% for option in context.subject_options %}
      <option value="{{option.value}}">
        {{option.label}}
      </option>
      {% endfor %}
      </select>
    </div>
    
    <button id="request_button">
      get some
    </button>
  </div>
  <div class="results-box">
    <div class="results-inner">
      <p id="view_box"></p>
    </div>
  </div>
</div>

{% endblock %}
